<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="POST">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12"></div>
                    <input placeholder="E-Mail" name="username" type="text">
                </div>
                <div class="row">
                    <div class="input-field col s12"></div>
                    <input placeholder="Password" name="passwd" type="password">
                </div>
            </div>
        </div>
        <button>Submit</button>
    </form>
</body>
</html>