<!DOCTYPE html>
<html lang="en">
<head>
    <title>Insert Page Name Here</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <!--Navbar-->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Returning Users</a></li>
            </ul>
        </div>
    </nav>

    <!--Grid-->
    <div class="row" id="main_row">
        <!--Image-->
        <div class="col s6">
            <img width="550" height="350" src="assets/main_page.jpg">
        </div>
        <!--Content-->
        <div class="col s6 center-align">
            <h2>Are you a ...</h2>
            <button id="student_btn">Student</button>
            <button onClick="location.href='org_register'">Organization</button>
        </div>
    </div>

    <script>
        //student button listener
        document.getElementById("student_btn")
            .addEventListener("click", function(){
               //manipulate box here 
            });

    </script>

</body>
</html>