<!DOCTYPE html>
<html lang="en">
<head>
    <title>Organization Registeration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <style>
        body{
            background-image: url("assets/striped_background.jpg")
        }
    </style>

</head>
<body>
    <!--
        -Items to add to form:
            Organization Name
            What kind of experiences are you providing?
            What kind fields do your corporation cover?
            Email?
            Password?
    -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h4 class="header2 align-center">Organization Registeration</h4>

                    <div class="row">
                        <div class="col s12">
                            <!--Organization Name-->
                            <div class="row">
                                <div class="input-field col s12">
                                   <input placeholder="Organization Name"id="org_name" type="text"> 
                                </div>
                            </div>

                            <!--Type of Experience
                            <div class="row">
                                <form action="#">
                                    <input type="checkbox" id="extra">
                                        <label for="extra">Extra Curricular </label>
                                    <input type="checkbox" id="shadowing">
                                        <label for="shadow">Professional Shadowing </label>
                                    <input type="checkbox" id="research">
                                        <label for="research">Research </label>
                                    <input type="checkbox" id="volunteering">
                                        <label for="volunteering">Volunteering </label>
                               </form> 
                            </div>
                            -->

                            <!--Subject Areas
                            <div class="row">

                            </div>
                            -->

                            <!--Contact Address-->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="E-Mail Address" id="org_name" type="text"> 
                                </div>                                
                            </div>

                            <!--Password-->
                            <div class="row">
                                <!--Set password-->
                                <div class="input-field col s6">
                                    <input placeholder="Password" type="password">
                                </div>
                                <!--Confirm password-->
                                <div class="input-field col s6">
                                    <input placeholder="Confirm Password" type="password">
                                </div>
                            </div>

                            <!--Submit-->
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>